*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(102 101 106);
    display: flex;
}
#part1{
width: 26%;
height: 100%;
/* background-color:red; */
}

#part2{
   width: 67%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1654157925394-4b7809721149?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2060&q=80);
    background-position: center;
    background-size: cover;
}
#overlay{
    width: 100%;
    height: 100%;
    /* background-color: rgba(61, 59, 69, 0.325); */
}
#part3{
    width: 7%;
    height: 100%;   
    /* background-color:rgb(68, 0, 255); */
}
#smallimg{
height: 400px;   
width: 300px;
background-image: url(https://images.unsplash.com/photo-1666919643134-d97687c1826c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80);
background-size:cover;
background-position: center;
position: absolute;
top: 50%;
left: 15%;
}
#overlay2{
    width: 100%;
    height: 100%;
    background-color: rgba(61, 59, 69, 0.378);
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    top: 5%;
    left: 9%;
    height: 40px;
    width: 500px;
    
    /* background-color: rgb(47, 75, 98); */
}
#nav-bar>h5{
    font-size: 25px;
    color: #e9e3e3;
}
#logo{
    height: 100px;
    width: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoHa4mOaeS3Kvn1rf-YRR8wUdUlpxE6eJaaw);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
#logooverlay{
    height:100%;
    width: 100%;    
    border-radius: 100%;
    background-color: rgba(58, 57, 61, 0.384);
}
#div-text{
    color: #e4f3d6;
    text-transform: uppercase;
    font-size:25px;
    position: absolute;
    top: 20%;
    left: 30%;
    /* background-color: #fff; */
}
